@media only screen and (max-width: 1060px) {
  .btn-col{display: none;}
  .top-bl-1{justify-content: space-around;}
  }

@media only screen and (max-width: 950px){ 
   .section-title h1{display: none}
   .section-title p{display: none;}
   .section-title{
      padding:  50px 0 0 0;
    }
   .top-bl-1{
    position: relative;
    background: none;
    justify-content: space-between;
  }
  .qustion-panel{
    margin:  0 auto;
    max-width: 528px;
  }
  .q-text{
    padding-right: 20px;
  }
   .menu-col{
    top: 0;
    position: absolute;
    right: 0px;
    background-color: #F2785C;
    width: 165px;
    height: 250px;
    margin: 0px;
    z-index: 9;
    }
    .visible-menu{visibility: visible;}
    .hidden-menu{visibility: hidden;}
    .menu-col ul li {
     display: block;
     text-align: right;
     padding: 2px 0;
    }

    .btn-mobile-menu{
        display: block;
    }
    .close-btn-menu{
      top: 4px;
      position: absolute;
      left: 5px;
      display: block;
    }
  }