

.popup_container{
    background: #c2c2c2f0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.popup_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form style */
.popup_content{
    background: rgb(26, 26, 26);
    width: 400px;
    height: 400px;
}
.popup_content input{
    display: block;
    margin: 10px 0;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}